
.idea/gymkhana.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
gymkhana/__pycache__/urls.cpython-36.pyc
gymkhana/__pycache__/urls.cpython-36.pyc
gymkhana/__pycache__/urls.cpython-36.pyc
forum/__pycache__/urls.cpython-36.pyc
forum/__pycache__/views.cpython-36.pyc
ReadMe.md___jb_tmp___
gymkhana/__pycache__/settings.cpython-36.pyc
forum/__pycache__/views.cpython-36.pyc
forum/__pycache__/models.cpython-36.pyc
forum/__pycache__/models.cpython-36.pyc
forum/__pycache__/urls.cpython-36.pyc
forum/__pycache__/views.cpython-36.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
forum/__pycache__/views.cpython-36.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
