django == 1.11.2
django-ckeditor == 5.2.2
django-hitcount == 1.2.2
django-versatileImageField == 1.7.1
Pillow == 4.1.1
djangorestframework == 3.6.3
django-photologue == 3.7
django-sortedm2m == 1.4.0
django-searchbar == 0.1.7
django-cleanup == 0.4.2