{% extends 'main/base.html' %}
{% block title %}Successfully Registered | {{ block.super }}{% endblock %}
{% block main %}
    <div style="height: 100vh">
        <div class="flex-center flex-column text-center">
            <h1 class="animated fadeIn mb-2">Hi {{ user.get_full_name|default:'New User' }},</h1>
            <h5 class="animated fadeIn mb-1">You're successfully registered on IITJ Gymkhana Site, please check your email to activate your account.</h5>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}