{% extends 'main/base.html' %}
{% block title %}{{ society.name }} - IIT Jodhpur{% endblock %}

{% block customstyles %}
    {% if society.cover %}
        <style>
            @media (max-width: 540px) {
                .society-photo {
                    height: 30rem;
                    background: url("{{ society.cover.crop.1080x1440 }}") no-repeat center;
                    background-size: cover;
                    -webkit-background-size: cover;
                }
            }

            @media (min-width: 541px) and (max-width: 1000px) {
                .society-photo {
                    height: 30rem;
                    background: url("{{ society.cover.crop.1920x1440 }}") no-repeat center;
                    background-size: cover;
                    -webkit-background-size: cover;
                }
            }

            @media (min-width: 1001px) {
                .society-photo {
                    height: 30rem;
                    background: url("{{ society.cover.crop.2160x1215 }}") no-repeat center;
                    background-size: cover;
                }
            }
        </style>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="streak streak-lg streak-photo society-photo view hm-black-light">
        <div class="mask flex-center">
            <div class="flex-center text-white">
                <ul>
                    <li><h1 class="h1-responsive wow fadeIn"><b>{{ society.name }}</b></h1></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-8">
                <h2 class="h2-responsive mb-2">About</h2>
                <div id="description">{{ society.description|safe }}
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <div class="container mt-1">
        <div class="row">
            <ul>
                {% for club in club_list %}
                    <li>{{ club.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="gallery"></div>
        </div>
    </div>
    <div class="container mt-3 section team-section">
        <div class="row text-center">
            <div class="col-lg-4 col-md-6 mb-r">
                <div class="avatar">
                    <img src="{{ society.secretary.avatar.thumbnail.200x200 }}" class="rounded-circle">
                </div>
                <h4>{{ society.secretary.user.get_full_name }}</h4>
                <h5><i class="icons-sm-i fa fa-whatsapp green-text"></i><a
                        href="https://api.whatsapp.com/send?phone=91{{ society.secretary.phone }}">+91-{{ society.secretary.phone }}</a>
                </h5>
                <h5>Secretary</h5>
                <p>{{ society.secretary.about }}</p>
                <a class="icons-sm email-ic" href="mailto:{{ society.secretary.user.email }}"><i
                        class="fa fa-envelope-o"></i> </a>
            </div>
            <div class="col-lg-4 col-md-6 mb-r">
                <div class="avatar">
                    <img src="{{ society.vice_secretary.avatar.thumbnail.200x200 }}" class="rounded-circle">
                </div>
                <h4>{{ society.vice_secretary.user.get_full_name }}</h4>
                <h5><i class="icons-sm-i fa fa-whatsapp green-text"></i><a
                        href="https://api.whatsapp.com/send?phone=91{{ society.vice_secretary.phone }}">+91-{{ society.vice_secretary.phone }}</a>
                </h5>
                <h5>Vice Secretary</h5>
                <p>{{ society.vice_secretary.about }}</p>
                <a class="icons-sm email-ic" href="mailto:{{ society.vice_secretary.user.email }}"><i
                        class="fa fa-envelope-o"></i> </a>
                {% comment %}<a class="icons-sm fb-ic" target="_blank" href="https://www.facebook.com/iAmAjat"><i
                            class="fa fa-facebook"> </i></a>
                    <a class="icons-sm li-ic" target="_blank" href="https://in.linkedin.com/in/ajat-prabha-87675b128"><i
                            class="fa fa-linkedin"></i></a>
                    <a class="icons-sm ins-ic" target="_blank" href="https://www.instagram.com/ajatprabha/"><i
                            class="fa fa-instagram"> </i></a>
                    <a class="icons-sm git-ic" target="_blank" href="https://github.com/ajatprabha"><i
                            class="fa fa-github"></i></a>{% endcomment %}
            </div>
            <div class="col-lg-4 col-md-6 mb-r">
                <div class="avatar">
                    <img src="{{ society.mentor.avatar.thumbnail.200x200 }}" class="rounded-circle">
                </div>
                <h4>{{ society.mentor.user.get_full_name }}</h4>
                <h5><i class="icons-sm-i fa fa-whatsapp green-text"></i><a
                        href="https://api.whatsapp.com/send?phone=91{{ society.mentor.phone }}">+91-{{ society.mentor.phone }}</a>
                </h5>
                <h5>Mentor</h5>
                <p>{{ society.mentor.about }}</p>
                <a class="icons-sm email-ic" href="mailto:{{ society.mentor.user.email }}"><i
                        class="fa fa-envelope-o"></i> </a>
                {% comment %}<a class="icons-sm fb-ic" target="_blank" href="https://www.facebook.com/iAmAjat"><i
                            class="fa fa-facebook"> </i></a>
                    <a class="icons-sm li-ic" target="_blank" href="https://in.linkedin.com/in/ajat-prabha-87675b128"><i
                            class="fa fa-linkedin"></i></a>
                    <a class="icons-sm ins-ic" target="_blank" href="https://www.instagram.com/ajatprabha/"><i
                            class="fa fa-instagram"> </i></a>
                    <a class="icons-sm git-ic" target="_blank" href="https://github.com/ajatprabha"><i
                            class="fa fa-github"></i></a>{% endcomment %}
            </div>
        </div>
    </div>
{% endblock %}

{% block customscripts %}
    <script>
        new WOW().init();
    </script>
{% endblock %}