{% extends 'main/base.html' %}
{% load staticfiles humanize %}
{% block title %}{{ society.name }} - IIT Jodhpur{% endblock %}
{% block skin %}{{ society.skin }}{% endblock %}

{% block customstyles %}
    <link rel="stylesheet" href="{% static 'css/contact_card.css' %}" />
    {% if society.cover %}
        <style>
            @media (max-width: 415px) {
                .society-photo {
                    height: 20rem !important;
                    background: url("{{ society.cover.crop.450x420 }}") no-repeat center !important;
                    background-size: cover !important;
                    -webkit-background-size: cover !important;
                }
            }

            @media (min-width: 416px) and (max-width: 1000px) {
                .society-photo {
                    height: 23rem !important;
                    background: url("{{ society.cover.crop.1280x900 }}");
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    -webkit-background-size: cover !important;
                }
            }

            @media (min-width: 1001px) {
                .society-photo {
                    height: 28rem !important;
                    background: url("{{ society.cover.crop.1440x750 }}");
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    -webkit-background-size: cover !important;
                }
            }
        </style>
        <style>
            table#events th i {
                padding: 3%;
            }

            table#events td a {
                margin: 0;
            }

            .event-modal {
                padding: 5%;
            }

            .cream-back {
                background: #F5F5F5
            }
        </style>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="streak streak-lg streak-photo society-photo view hm-black-light">
        <div class="mask flex-center">
            <div class="flex-center text-white">
                <ul>
                    <li><h1 class="h1-responsive wow fadeIn"><b>{{ society.name }}</b></h1></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-8">
                <h2 class="h2-responsive mb-2">About</h2>
                <div id="description">{{ society.description|safe }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center mb-2">
                    <div><i class="fa fa-lightbulb-o fa-2x mr-2"></i></div>
                    <div><h3 class="h3-responsive">Event{{ event_list|pluralize }}</h3></div>
                </div>
                {% if not event_list %}
                    <h4 class="h4-responsive text-center">No events to display</h4>
                {% else %}
                    <div class="list-group">
                        <table class="table mb-0" id="events">
                            <thead>
                            <tr class="primary-color">
                                <th class="text-center"><i class="fa fa-external-link"></i></th>
                                <th>Name</th>
                                <th class="text-center"><i class="fa fa-calendar-o"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for event in event_list %}
                                <tr class="list-group-item-action">
                                    <td class="text-center"><a data-toggle="modal"
                                                               data-target="#event-{{ forloop.counter }}"><i
                                            class="fa fa-chevron-right"></i></a></td>
                                    <td><a data-toggle="modal"
                                           data-target="#event-{{ forloop.counter }}">{{ event.name|truncatechars:26 }}</a>
                                    </td>
                                    <td>
                                        <a data-toggle="modal" data-target="#event-{{ forloop.counter }}">
                                            <small>{{ event.date|naturalday }}</small>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!--Event Modals-->
    {% for event in event_list %}
        <div class="modal fade" id="event-{{ forloop.counter }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header primary-color white-text">
                        <button type="button" class="close waves-effect waves-light" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="title">{{ event.club.name }} Event</h4>
                    </div>
                    <!--Body-->
                    <div class="modal-body mb-0">
                        <h3 class="h3-responsive text-center mb-2">{{ event.name }}</h3>
                        <div class="container-fuild">
                            <div class="row text-center">
                                <div class="col-4"><i
                                        class="fa fa-calendar-o event-modal"></i>{{ event.date|naturalday }}</div>
                                <div class="col-4"><i class="fa fa-clock-o event-modal"></i>{{ event.date|time }}</div>
                                <div class="col-4"><i class="fa fa-map-marker event-modal"></i>{{ event.location }}
                                </div>
                            </div>
                        </div>
                        <p class="text-justify">{{ event.description|linebreaks }}</p>

                        <div class="text-right mt-1-half">
                            <button class="btn btn-primary mb-1" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
    {% endfor %}
    <!--End Modals-->

    {% if club_list %}
        <div class="cream-back pt-2 mt-3 pb-3">
            {% include 'main/mixins/club_list_mixin.html' with club_list=club_list clubtitle='Clubs' %}
        </div>
    {% endif %}
    {% if team_list %}
        <div class="col-md-12">
            <div class="divider-new">
                <h3 class="h3-responsive">Teams</h3>
            </div>
            <ul>
                {% for team in team_list %}
                    <li>{{ team.name }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if not club_list and not team_list %}
        <div class="col-md-12">
            <h4 class="h4-responsive">No clubs or teams are associated with this society.</h4>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="divider-new">
                    <h3 class="h3-responsive">News</h3>
                </div>
                <ul>
                    {% if not news_list %}
                        <li>No news to display.</li>
                    {% endif %}
                    {% for news in news_list %}
                        <li>{{ news.title }}, {{ news.date|naturalday }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="gallery"></div>
        </div>
    </div>
    <div class="container mt-3 section team-section">
        <div class="divider-new">
            <h3 class="h3-responsive">Key Persons</h3>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-md-6 mb-r">
                {% include 'main/mixins/user_card_mixin.html' with userprofile=society.secretary designation='Student Secretary' %}
            </div>
            <div class="col-lg-4 col-md-6 mb-r">
                {% include 'main/mixins/user_card_mixin.html' with userprofile=society.joint_secretary designation='Student Joint Secretary' %}
            </div>
            <div class="col-lg-4 col-md-6 mb-r">
                {% include 'main/mixins/user_card_mixin.html' with userprofile=society.mentor designation='Mentor' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block customscripts %}
    <script>
        new WOW().init();
    </script>
{% endblock %}