<div class="card-wrapper">
    <div id="card-{{ userprofile.id }}" class="card-rotating effect__click">
        <!--Front Side-->
        <div class="face front">
            <!-- Image-->
            <div class="card-up">
                <img src="{% include 'oauth/mixins/user_cover_src_mixin.html' with userprofile=userprofile %}" class="img-fluid">
            </div>
            <!--Avatar-->
            <div class="avatar"><img src="{{ userprofile.avatar.thumbnail.200x200 }}" class="rounded-circle img-responsive">
            </div>
            <!--Content-->
            <div class="card-block">
                <h4>{{ userprofile.user.get_full_name }}</h4>
                <p>{{ designation|default:'' }}</p>
                <!--Triggering button-->
                <a class="rotate-btn" data-card="card-{{ userprofile.id }}"><i class="fa fa-repeat"></i> Click here for details</a>
            </div>
        </div>
        <!--/.Front Side-->

        <!--Back Side-->
        <div class="face back">

            <!--Content-->
            <h4>About me</h4>
            <hr>
            <div class="about">
                <h5><i class="icons-sm-i fa fa-whatsapp green-text"></i><a
                    href="https://api.whatsapp.com/send?phone=91{{ userprofile.phone }}">+91-{{ userprofile.phone }}</a></h5>
                {{ userprofile.about|linebreaks }}
            </div>
            <hr>
            <!--Social Icons-->
            <ul class="inline-ul">
                <li><a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a></li>
                <li><a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a></li>
                <li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="icons-sm li-ic"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <!--Triggering button-->
            <a class="rotate-btn" data-card="card-{{ userprofile.id }}"><i class="fa fa-undo"></i> Back</a>

        </div>
        <!--/.Back Side-->
    </div>
</div>
<!--/.Rotating card-->