{% extends 'base.html' %}

{% block sidenavlower %}
    <li><h4 class="h4-responsive black-text text-center">Categories</h4></li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-question"></i>
                Questions</a>
            </li>
            <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-comments"></i>
                Feedback</a>
            </li>
        </ul>
    </li>
{% endblock %}