{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load hitcount_tags %}
{% block title %}Students' Gymkhana Forum{% endblock %}
{% block mdbcss %}
    <link rel="stylesheet" href="{% static 'css/mdbadmin.min.css' %}">{% endblock %}
{% block customstyles %}
    <link rel="stylesheet" href="{% static 'css/forumindex.css' %}">{% endblock %}
{% block navtitle %}Students' Gymkhana Forum{% endblock %}

{% block main %}
    <!--Main layout-->
    <div class="fixed-action-btn-fix">
        <a class="btn-floating btn-large red" href="{% url 'forum:add_topic' %}" role="button" data-toggle="tooltip"
           data-placement="left" title="Create New Topic">
            <i class="fa fa-plus"></i>
        </a>
    </div>

    <div class="container-fluid">

        <!-- First row -->
        <div class="row">

            {% comment %}<!-- First column -->
                <div class="col-md-3">
                    <div class="card-body">

                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#modal-support">
                            <i class="fa fa-plus left"></i> New Ticket
                        </button>

                        <div class="mt-2">
                            <small>Ticket categories:</small>

                            <ul class="striped">
                                <li><span class="bullet green"></span> Invoices <span class="badge bg-primary float-right">14</span></li>
                                <li><span class="bullet blue"></span> Advertising <span class="badge bg-primary float-right">1</span></li>
                                <li><span class="bullet red"></span> Functions <span class="badge bg-primary float-right">3</span></li>
                                <li><span class="bullet yellow"></span> Website <span class="badge bg-primary float-right">9</span></li>
                                <li><span class="bullet orange"></span> Clients <span class="badge bg-primary float-right">5</span></li>
                                <li><span class="bullet deep-purple"></span> Technical Questions <span class="badge bg-primary label-pill float-right">4</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.First column -->{% endcomment %}

            <!-- Second column -->
            <div class="col-md-12 white z-depth-1 py-1 pt-1">

                <div class="row">
                    <div class="col-sm-6 col-md-9 py-1 px-1 mb-1">
                        <h4 class="h4-responsive ml-3">Discussion Topics ({{ topic_list.count }})</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Title</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for topic in topic_list %}
                                    <tr>
                                        <td><img src="{{ topic.author.avatar.thumbnail.50x50 }}"
                                                 alt="{{ topic.author.user.get_full_name }}"
                                                 class="avatar-32"> {{ topic.author.user.get_full_name }}</td>
                                        <td><a href="{% url 'forum:detail' topic.id %}">{{ topic.title }}</a></td>
                                        <td>
                                            <span class="grey-text"><small><i
                                                    class="fa fa-eye"></i> {{ topic.hit_count.hits }}</small></span>
                                        </td>
                                        <td><span class="grey-text"><small><i
                                                class="fa fa-clock-o"></i> {{ topic.created_at|naturaltime }}</small></span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        {% comment %}<!--Dropdown primary-->
                            <div class="dropdown dropup">

                                <!--Trigger-->
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Selected</button>

                                <!--Menu-->
                                <div class="dropdown-menu dropdown-primary">
                                    <a class="dropdown-item" href="#">Remove</a>
                                    <a class="dropdown-item" href="#">Mark as read</a>
                                    <a class="dropdown-item" href="#">Archive</a>
                                </div>
                            </div>
                            <!--/Dropdown primary-->{% endcomment %}
                    </div>
                </div>

            </div>
            <!-- /.Second column -->

        </div>
        <!-- /.First row -->

    </div>
    <!--/Main layout-->
{% endblock %}