{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Add New Topic{% endblock %}
{% block mdbcss %}
    <link rel="stylesheet" href="{% static 'css/mdbadmin.min.css' %}">{% endblock %}
{% block main %}
    <div class="row">
        <!--Form without header-->
        <div class="card">
            <div class="card-block">

                <!--Header-->
                <div>
                    <h3><i class="fa fa-pencil"></i> Post New Topic:</h3>
                    <hr class="mt-2 mb-2">
                </div>

                <!--Body-->
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <p class="red-text">{{ field.errors }}</p>
                    {% endfor %}
                    <label for="id_category">Category</label>
                    <select class="mdb-select" name="category" id="id_category" required>
                        <option value="" disabled selected>Choose your option</option>
                        {% for value, label in form.category.field.choices %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                    <div class="md-form">
                        {{ form.title }}
                        <label for="{{ form.title.name }}">{{ form.title.label }}</label>
                    </div>
                    <div class="md-form">
                        {{ form.tags }}
                        <label for="{{ form.tags.name }}">{{ form.tags.label }}</label>
                    </div>
                    <div class="md-form">
                        {{ form.content }}
                    </div>
                    <div>
                        {% block updatebutton %}
                            <button class="btn btn-deep-orange" type="submit" value="submit"
                                    onsubmit="return confirm('Are you sure you want to post this?');">Post Topic
                            </button>
                        {% endblock %}
                    </div>
                </form>
            </div>
        </div>
        <!--/Form without header-->
    </div>
{% endblock %}

{% block scripts %}
    <!-- SCRIPTS -->
    <!-- JQuery -->
    {{ form.media }}
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/compiled.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });
    </script>
    {% block navscripts %}
        <script>
            $(".button-collapse").sideNav();
            // Custom scrollbar init
            var el = document.querySelector('.custom-scrollbar');
            Ps.initialize(el);
            // Tooltips Initialization
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
    {% endblock %}
{% endblock %}