{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Add New Topic{% endblock %}
{% block mdbcss %}
    <link rel="stylesheet" href="{% static 'css/mdbadmin.min.css' %}">{% endblock %}
{% block userphoto %}/media/{{ request.user.userprofile.avatar }}{% endblock %}
{% block username %}{{ request.user.get_full_name }}{% endblock %}
{% block main %}
    <div class="row">
        <!--Form without header-->
        <div class="card">
            <div class="card-block">

                <!--Header-->
                <div>
                    <h3><i class="fa fa-pencil"></i> Post New Topic:</h3>
                    <hr class="mt-2 mb-2">
                </div>

                <!--Body-->
                <form action="" method="post" enctype="multipart/form-data">
                    {{ form.category }}
                        <select title="Choose your option" class="mdb-select" name="category" id="id_category">
                            <option value="" disabled selected>Choose your option</option>
                            {% for value, label in form.category.field.choices %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                        <label>Category</label>
                    <div class="md-form">
                        {{ form.title }}
                        <label for="{{ form.title.name }}">{{ form.title.label }}</label>
                    </div>
                    <div class="md-form">
                        {{ form.tags }}
                        <label for="{{ form.tags.name }}">{{ form.tags.label }}</label>
                    </div>
                    <div class="md-form">
                        {{ form.content }}
                    </div>
                    <div>
                        <button class="btn btn-deep-orange" type="submit"
                                onsubmit="return confirm('Are you sure you want to post this?')">Post Topic
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--/Form without header-->
    </div>
{% endblock %}

{% block customscripts %}
    {{ form.media }}
    <script>
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });
    </script>
{% endblock %}