        <div class="avatar">
            <img src="{{ userprofile.avatar.thumbnail.200x200 }}" class="rounded-circle">
        </div>
        <h4>{{ userprofile.user.get_full_name }}</h4>
        <h5><i class="icons-sm-i fa fa-whatsapp green-text"></i><a
                href="https://api.whatsapp.com/send?phone=91{{ userprofile.phone }}">+91-{{ userprofile.phone }}</a>
        </h5>
        <h5>{{ designation|default:'' }}</h5>
        <p>{{ userprofile.about|linebreaks }}</p>
        <a class="icons-sm email-ic" href="mailto:{{ userprofile.user.email }}"><i
                class="fa fa-envelope-o"></i> </a>