{% load staticfiles %}
    <style>
        {% if userprofile.cover %}
            .card-up {
                background: url('{{ userprofile.cover.thumbnail.1620x1080 }}');
                background-size: cover;
            }
        {% elif userprofile.prog == 'BT'%}
            {% if userprofile.year == '1' %}
                .card-up {
                    background: url('{% static 'assets/others/cover2.svg' %}');
                    background-size: cover;
                }
            {% elif userprofile.year == '2' %}
                .card-up {
                    background: url('{% static 'assets/others/cover1.svg' %}');
                    background-size: cover;
                }
            {% elif userprofile.year == '3' %}
                .card-up {
                    background: url('{% static 'assets/others/cover4.svg' %}');
                    background-size: cover;
                }
            {% elif userprofile.year == '4' %}
                .card-up {
                    background: url('{% static 'assets/others/cover3.svg' %}');
                    background-size: cover;
                }
            {% endif %}
        {% else %}
            .card-up {
            }
        {% endif %}
    </style>